<br/>
<h3 style="font-size: x-large;">Data-centric provenance capture with Sumatra<br /> - GSoC14 project proposal</h3>
<br />

<h3><span style="font-size: large;">Project description
    <br /></span></h3>
<p><span style="font-size: medium;">Sumatra as a tool for automated
    provenance capture currently focuses<br />on tracking individual
    computational experiments. Establishing logical<br />connections
    between data entries and processes that interact with them<br />has
    been proposed before
    (<a href="https://bitbucket.org/apdavison/sumatra/issue/130/">Ticket
      #130</a>). Such implementation not only<br />facilitates a
    data-centric presentation of Sumatra-managed research<br />projects
    (<a href="https://bitbucket.org/apdavison/sumatra/issue/131/">Ticket
      #131</a>), but also may present an important milestone
    in<br />improving Sumatra's usability to share projects and the
    tool's<br />interoperability in exporting projects to the W3C PROV
    data model.<br /><br />This project implements a data-centric approach
    to Sumatra's<br />provenance capture. Establishing infrastructure for
    data-process<br />associations in the first part of the project, the
    second part focuses<br />on implementing data-centric views in
    Sumatra's existing interfaces,<br />securing immediate benefit to
    Sumatra's usability.</span></p>
<p><span style="font-size: medium;"><br /></span></p>
<h4><span style="font-size: large;">Implementation</span></h4>
<p style="font-size: medium;">The project divides into two major
    parts:<br/><br/></p>
<div style="margin-left: 15px;">
  <h4><span style="font-size: medium;">1. Infrastructure for
      data-process associations</span></h4>
  <p><span style="font-size: medium;">Infrastructure to facilitate
      data-computation associations needs to<br />implement the following
      functionality:<br /><br />Data items, as cataloged in the data store,
      need be associated to<br />processes that take the data as input or
      create it as output. I<br />suggest adding to DataItem the
      attributes <em>record_input</em> and<br /><em>record_output</em>,
      comprising the record in which this data was created<br />and the
      records in which this data was used as input. For
      record<br />identification, the unique <em>record.label</em> can be
      used.<br /><br />When creating new
      records, <em>Project.new_record()</em> should write
      the<br /><em>record.label</em> to <em>record_output</em> of DataItems
      this process creates. If<br />the process takes input data, the label
      should be written to<br /><em>record_input</em> of those data items. A
      logical connection between this<br />process (child) taking the data
      as input and the process originally<br />creating the data (parent)
      should be made, and I suggest a similar<br />approach as for the
      DataItems, making sure there are methods to query<br />for children
      and parents of records. Data identifiers are already<br />implemented
      in form of the <em>DataKey</em> class and can be used to
      reference<br />DataItems. Some care needs to be taken here, as two
      output items might<br />share the same <em>DataKey.path</em> (one file
      overwriting the other), so<br />uniqueness needs to be
      ensured.<br /><br />In this part of the project, I believe it to be
      important to work<br />closely with the mentor, discussing the
      advantages and disadvantages<br />of various modes
      implementation. Once the basic structure is achieved,<br />it is
      important to integrate it fully in the
      program<br />environment. <em>RecordStore.delete()</em>, for example,
      needs to remove the<br />respective entries in the associated
      DataItems, ensuring&nbsp; that the<br />data-process association
      remains coherent </span><span style="font-size: medium;">at all
      times.</span></p>
  <h4><span style="font-size: medium;"><br /></span></h4>
  <h4><span style="font-size: medium;">2. Addition of data-centric views
      to Sumatra interfaces</span></h4>
  <p><span style="font-size: medium;">Building upon the infrastructure
      developed in the first part,<br />implementing data-centric views to
      Sumatra interfaces in the following<br />three areas constitutes a
      straight forward task:</span></p>
  <p><span style="font-size: medium;"><br /></span></p>
  <div style="margin-left: 15px;">
    <h4><span style="font-size: medium;"><em>A. Enhancement of
          process-centric web view</em></span></h4>
    <p><span style="font-size: medium;">In the process-centric web view,
        navigation from data objects, listed<br />as input or output, to other
        processes the data object is<br />associated to should be provided. I
        specifically imagine that data<br />objects are not linking to file
        (as they currently are), but to a data<br />page that lists data
        content, meta-information and the associated<br />processes of inputs
        and outputs. <br /><br />Individual record pages should be enhanced by
        adding information of<br />how this record ties into a parent-child
        sequence of processes. A<br />possible implementation is a
        process-tree-like graphic, illustrating<br />the possibly branching
        parent-child sequence and highlight the<br />record's position in this
        chain.</span></p>
    <p><span style="font-size: medium;"><br /></span></p>
    <h4><span style="font-size: medium;"><em>B. New, data-centric view
          mode in smtweb</em></span></h4>
    <p><span style="font-size: medium;">An alternative project view in
        smtweb displays the project's data<br />items in a file manager like
        presentation. Linking directly to the<br />data pages mentioned above,
        this view offers a data-centric approach<br />to exploring a shared
        Sumatra project.<br /><br />Filtering options, for example by file
        type or showing only data that<br />does not get used in another
        process, enhance this view<br />and ensure that this new mode adds to
        Sumatra's usability.<br /></span></p>
    <p><span style="font-size: medium;"><br /></span></p>
    <h4><span style="font-size: medium;"><em>C. Adding functionality to
          smt list</em></span></h4>
    <p><span style="font-size: medium;">Smt list should be enhanced to
        feature data-centric views as well. <br />I suggest list to be extended
        by the option of passing a path to a data <br />object, for
        example <em>smt list data/mydata.dat</em>. Output then lists content,
        <br />meta-information and process-association of the data object,
        <br /> much like data pages in the web view. Displaying the
        complete<br />parent-child sequence for a single record,
        i.e. illustrating how this<br />record inherits data from parent
        records and passes data to child<br />records, constitutes another
        enhancement I believe to be useful. As I<br />personally prefer the
        web view and don't use list frequently, it is at<br />this point
        especially important to ask the Sumatra user base for<br />input and
        feedback.</span></p>
    <p>&nbsp;</p>
  </div>
  <h4><span style="font-size: medium;">3. Further Work</span></h4>
  <p><span style="font-size: medium;">The first two items constitute the
      main goal for this project. I'm<br />highly interested however, to use
      the Summer of Code participation to<br />be as productive as
      possible. Working closely with the smtweb<br />implementation in the
      second part, might give opportunity to fix a<br />number of bugs
      appearing in the web view
      (<a href="https://bitbucket.org/apdavison/sumatra/issue/167/">Ticket
        #167</a>, <a href="https://bitbucket.org/apdavison/sumatra/issue/176/">Ticket
        #176</a>).<br />In consultation with my mentor, having implemented a
      data-centric view<br />to smtweb might also present a good started
      point to get started<br />on functionality to export Sumatra projects
      to stand-alone html sites<br />to improve support for sharing research
      (INCF original proposal).</span></p>
</div>
<h3><span style="font-size: large;"><br /></span></h3>
<h3><span style="font-size: large;">Roadmap</span></h3>
<div style="margin-left: 15px;">
  <p><span style="font-size: medium;">June 17 - June 27
      (Midterm):<br />&nbsp; - set up of development environment
      (virtualenv, bitbucket fork)<br />&nbsp; - frequent communication with
      mentor to discuss implementation<br />&nbsp;&nbsp;&nbsp; and
      roadmap<br />&nbsp; - prototype code for data-process association for
      midterm<br />&nbsp;&nbsp;&nbsp; evaluation.<br />&nbsp; - <strike>introducing
      GSoC project to mailing list</strike> &nbsp;<i><a href="https://groups.google.com/forum/#!topic/sumatra-users/4-TcGZBuQJg">Done!</a></i> <br /><br />June 28 - July 4: <br />&nbsp;
      - prototype code evolves into rigid implementation<br />&nbsp; - basic
      infrastructure of data-process association complete<br /><br />July 5
      - July 11<br />&nbsp; - fully integrate data-process association into
      Sumatra environment <br />&nbsp; - implementation of data-process
      association complete<br />&nbsp; - merge into Sumatra code base
      possible<br />&nbsp; - post update on mailing list<br /><br />July 12
      - July 18 (Enhancement of process-centric view I)<br />&nbsp; - create
      data pages displaying content, meta information
      and<br />&nbsp;&nbsp;&nbsp; associated processes in isolated
      environment<br />&nbsp; - integrate data pages into web view, data
      items link to data page<br /><br />July 18 - July 25 (Enhancement of
      process-centric view II)<br />&nbsp; - create parent-child sequence
      visualization of processes<br />&nbsp; - integration into record pages
      in web view<br /><br />July 26 - August 1 (New data-centric view)
      <br />&nbsp; - ask for feedback and wishes on smt list added
      functionality on<br />&nbsp;&nbsp;&nbsp; mailing list&nbsp;
      <br />&nbsp; - implement new data-centric view in isolated
      environment<br />&nbsp; - integrate into web view<br /><br />August 2
      - August 8 (Add functionality to smt list) <br />&nbsp; - according to
      feedback and mentioned ideas, adding functionality
      to<br />&nbsp;&nbsp;&nbsp; smt list as described in
      C)<br /><br />August 8 - August 22 (closing deadline):<br />&nbsp; -
      review of project and polishing wherever necessary<br />&nbsp; -
      documentation, PEP8 compatibility <br />&nbsp; - final update and
      report on mailing list</span></p>
</div>
<br />
<br />
